<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chentyit.mapper.SDPRManagerMapper">
    <resultMap id="baseMap" type="Manager">
        <id column="manager_id" property="managerId" javaType="Integer"/>
        <result column="manager_name" property="managerName" javaType="String"/>
        <result column="manager_password" property="managerPassword" javaType="String"/>
        <result column="manager_permissions" property="managerPermissions" javaType="Integer"/>
    </resultMap>

    <select id="findManagerByNameAndPassword" resultMap="baseMap">
        SELECT *
        FROM manager
        WHERE manager_name = #{managerName} AND manager_password = #{managerPassword}
    </select>
</mapper>